table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  border-top: 1px solid #dddddd;
}

th, td {
  border: 1px solid #dddddd;
  border-top: 0;
  border-bottom: 0;
  padding: 8px;
  padding-top: 0;
}

.blank-header-cell {
  border-left: none;
}

.day {
  border-bottom: 1px solid #dddddd;
  padding: 0;
  height: 40px;
}

.time {
  height: 70px;
  text-align: center;
  vertical-align: top;
}

.cell {
  padding: 0;
  height: 0;
  width: 500px;
  overflow: hidden;
}

.timestamp {
  background-color: #f2f2f2;
  font-size: 14px;
  padding: 10px;
  width: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80px;
}

.event-container {
  display: flex;
  height: 100%;
}

.event {
  background-color: #7dd3fc;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.event:last-of-type {
  margin: 0;
}

.event-multiple {
  width: calc(100% / 3);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form .form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  font-size: 12px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin-top: 15px;
  width: 10%;
}

input, select {
  border: 1px solid rgba(0, 0, 0, .1);
}

select {
  background: none;
}